src/flows/Dispatch-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Contact_is_Set</name>
        <label>Check Contact is Set</label>
        <locationX>94</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Lookup_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Contact</defaultConnectorLabel>
        <rules>
            <name>Does_not_Have_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>Does_not_Have_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatch_Service_Appointment</targetReference>
            </connector>
            <label>Does not Have Contact</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatch</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>286</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dispatch</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Appointment</name>
        <label>Lookup Service Appointment</label>
        <locationX>96</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_is_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Dispatch_Service_Appointment</name>
        <label>Dispatch Service Appointment</label>
        <locationX>93</locationX>
        <locationY>364</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Dispatch</name>
        <label>Dispatch</label>
        <locationX>505</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dispatch_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>Id {!Id}
UserId {!UserId}
ParentId {!ParentId}
ContactEmail {!ContactEmail}
ContactName {!ContactName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Service_Appointment</startElementReference>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
